.filter-section {
    margin-top: 360px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.8s ease-out;
}

.category-item {
    transition: opacity 0.4s ease, transform 0.4s ease;
    opacity: 1;
    transform: scale(1);
}

.category-item.hide {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
    position: absolute; /* remove space while hidden */
}
